[submodule "workspaces/SimpleZoom"]
	url = https://github.com/UnRealDinnerbone/SimpleZoom
[submodule "workspaces/Yastm"]
	url = https://github.com/UnRealDinnerbone/Yastm
[submodule "workspaces/LeatherCows"]
	url = https://github.com/UnRealDinnerbone/LeatherCows

